## Data Cleaning and Preparation
***

In [859]:
import pandas as pd
import numpy as np
import glob
import re

from bs4 import BeautifulSoup 
import requests
import pickle

In [860]:
# Load in T100 data from csv files

files_li = glob.glob('zippedData/T_T100D*.2.csv') 
bts_df = pd.DataFrame(pd.read_csv(files_li[0])) 
for i in range(1,len(files_li)): 
    data = pd.read_csv(files_li[i]) 
    df1 = pd.DataFrame(data) 
    bts_df = pd.concat([df1,bts_df],axis=0, ignore_index=True)

In [861]:
# Keep only top 40 used aircraft models

bts_40 = bts_df['AIRCRAFT_TYPE'].value_counts().head(40).index.to_list()
indexNum = bts_df[~bts_df['AIRCRAFT_TYPE'].isin(bts_40)].index
bts_df.drop(indexNum , inplace=True)

In [862]:
# Get list of top 40 aircraft names for data cleaning

#bts_des = bts_df['AIRCRAFT_TYPE'].value_counts.to_frame()
bts_des = pd.DataFrame(pd.unique(bts_df['AIRCRAFT_TYPE']), columns =['AIRCRAFT_TYPE'])

In [863]:
# BTS uses number code to identify aircraft type in it's flight data. The legend is in a seperate csv file. 
# Load in the legend for aircraft type. 

ac_df = pd.read_csv('zippedData/L_AIRCRAFT_TYPE.csv')

In [864]:
# Merge flight data with aircfaft type. This will match BTS type names to the fligt data.

bts_des = pd.merge(bts_des,ac_df,left_on='AIRCRAFT_TYPE',right_on='Code')

In [865]:
# Drop piston aircraft
#bts_des = bts_des.drop(index=[5, 10, 18, 26, 29, 31, 37])
i = bts_des[(bts_des['Code'] == 40)].index
j = bts_des[(bts_des['Code'] == 35)].index
k = bts_des[(bts_des['Code'] == 194)].index
l = bts_des[(bts_des['Code'] == 79)].index
m = bts_des[(bts_des['Code'] == 479)].index
n = bts_des[(bts_des['Code'] == 415)].index
o = bts_des[(bts_des['Code'] == 416)].index
bts_des = bts_des.drop(i)
bts_des = bts_des.drop(j)
bts_des = bts_des.drop(k)
bts_des = bts_des.drop(l)
bts_des = bts_des.drop(m)
bts_des = bts_des.drop(n)
bts_des = bts_des.drop(o)

In [867]:
common_words = ['BOEING','CHEROKEE', 'AIRBUS', 'INDUSTRIE', 'CANADAIR', 'EMBRAER', 'MCDONNELL', 'DOUGLAS', 
                'DE', 'HAVILLAND', 'BEAVER', 'SUPER', 'NAVAJO', 'EM', 'ER', 'BEECH']

In [868]:
common_words_eng = ['ILYUSHIN', 'ANTONOV', 'JUNKERS', 'LOCKHEED', 'BOEING','AIRBUS', 'INDUSTRIE', 
                    'CANADAIR', 'EMBRAER', 'STATIONAIR','MCDONNELL', 'DOUGLAS', 'DE', 'HAVILLAND', 'BEAVER',
                    'SUPER','NAVAJO', 'EM', 'ER', 'BEECH', 'CRAFT', 'BOMBARDIER','CANADA']

In [869]:
common_words_emi = ['TRENT', 'CFMI', 'PRATT & WHITNEY', 'GENERAL ELECTRIC', 'CANADA',
                    'ROLLSROYCE', 'LYCOMING', 'ALLISON', 'GARRETT', 'CONTINENTAL', 'IAE']

In [870]:
def short_name(name, x):
    if len(name) >= x:
        short_name = name[:x]
        return(short_name)
    return(name)

In [871]:
def remove_dash(name):
    name = name.replace('-', '')
    return(name)

In [872]:
def convert_upper(name):
    name = name.upper()
    return(name)

In [873]:
def convert_date(date):
    date = date.astype('datetime64[ns]')
    return(date)

In [874]:
def remove_slash(name):
    res = re.match(r"^[^/]*", name)
    return(str(res.group()))

In [875]:
def remove_common(name, common_w):
    for common in common_w:
        name = name.replace(common, '')
    return(name)

In [876]:
def remove_space(name):
    name = name.replace(' ', "")
    return(name)

In [877]:

def convert_boeing(name):
    if re.match(r"^(7)(.)(7)", name):
        name = name[:3]
    return name

In [878]:
def convert_crj(name):
    if re.match(r"^RJ", name):
        name = name.replace('RJ', 'CRJ')
    return name

In [879]:
bts_des.loc[bts_des['Code'] == 629, 'Description'] = 'Canadair RJ-200'
bts_des.loc[bts_des['Code'] == 631, 'Description'] = 'Canadair RJ-700'
bts_des.loc[bts_des['Code'] == 638, 'Description'] = 'Canadair RJ-900'
bts_des.loc[bts_des['Code'] == 838, 'Description'] = 'Boeing 737-800'
bts_des.loc[bts_des['Code'] == 674, 'Description'] = 'Embraer ERJ-130'
bts_des.loc[bts_des['Code'] == 676, 'Description'] = 'Embraer ERJ-140'
bts_des.loc[bts_des['Code'] == 675, 'Description'] = 'Embraer ERJ-145'
bts_des.loc[bts_des['Code'] == 677, 'Description'] = 'Embraer ERJ-170'
bts_des.loc[bts_des['Code'] == 678, 'Description'] = 'Embraer ERJ-190'

In [880]:
bts_des['Description'] = [convert_upper(x) for x in bts_des['Description']]
bts_des['Description'] = [remove_slash(x) for x in bts_des['Description']]
bts_des['Description'] = [remove_dash(x) for x in bts_des['Description']]
bts_des['Description'] = [remove_common(x, common_words) for x in bts_des['Description']]
bts_des['Description'] = [remove_space(x) for x in bts_des['Description']]
bts_des['Description'] = [short_name(x, 4) for x in bts_des['Description']]
bts_des['Description'] = [convert_boeing(x) for x in bts_des['Description']]
bts_des['Description'] = [convert_crj(x) for x in bts_des['Description']]

In [881]:
bts_df = pd.merge(bts_df,bts_des[['Code', 'Description']],left_on='AIRCRAFT_TYPE', right_on='Code')

In [882]:
bts_des.drop(['AIRCRAFT_TYPE', 'Code'], axis=1, inplace=True)

In [883]:
# Import Data Set from CSV

crash_df = pd.read_csv('zippedData/AviationData.csv', encoding='latin-1', dtype={6: str, 7: str, 14: str, 15: str,
                                                                                 28: str})

In [884]:
# Drop rows before 2012 so we can match data by year in bts_df
date_mask = (crash_df['Event.Date'] > '2011-12-31')

# THIS RETURNS ALL ROWS GREATER THAN THE DATE PROVIDED ABOVE
crash_df = crash_df.loc[date_mask]

# Rows without an aircraft model type don't help use. Dropping these rows.
crash_df = crash_df.dropna(subset=['Model'])

In [885]:
# Some values in Make are upper, and some are mixed case. Change the Make column to all uppercase
#crash_df['Make'] = crash_df['Make'].str.upper()

# Convert Event.Date from string to datetime. Used to filter df on years
crash_df['Event.Date'] = crash_df['Event.Date'].astype('datetime64[ns]')

In [886]:
crash_df['Model'] = [convert_upper(x) for x in crash_df['Model']]
#crash_df['Event.Date'] = [convert_date(x) for x in crash_df['Event.Date']]
crash_df['Model'] = [remove_slash(x) for x in crash_df['Model']]
crash_df['Model'] = [remove_dash(x) for x in crash_df['Model']]
crash_df['Model'] = [remove_common(x, common_words) for x in crash_df['Model']]
crash_df['Model'] = [remove_space(x) for x in crash_df['Model']]
crash_df['Model'] = [short_name(x, 4) for x in crash_df['Model']]
crash_df['Model'] = [convert_boeing(x) for x in crash_df['Model']]
#crash_df['Model'].replace('PA-', 'PA', inplace=True, regex=True)

In [887]:
def match_types(model):
    for newmodel in bts_des['Description']:
        if newmodel.startswith(model):
            #print(f'Processing: {model} \t:{newmodel}')
            return newmodel

In [888]:
crash_df['NewModel'] = [match_types(model) for model in crash_df['Model']]

## Engine Data

In [889]:
# In place of running this and making a web request, import the pickle file from below
# Assign URL |
#url = "https://asn.flightsafety.org/database/engines/"

# Make a GET request to fetch the raw HTML content 
#html_content = requests.get(url).text 

# Parse the response with html.parser
#soup = BeautifulSoup(html_content,"html.parser") 

# The data we need are wrapped in <a> tags. Grab all the <a> tags here and we'll filter later.
#datas = soup.find_all("a")


#Make list of URLs and list oF Aircraft to create dictionary
# k = []
# v = []
# for item in datas:
#     if 'engine' in item['href']:
#         k.append(item['href'])
#         v.append(item.text)

# lookup_dict = {'URL': k, 'Engine': v}


#url_df = pd.DataFrame.from_dict(lookup_dict)

# with open('lookup_dict.pkl', 'wb') as f:
#     pickle.dump(lookup_dict, f)

with open('zippedData/lookup_dict.pkl', 'rb') as f:
    lookup_dict = pickle.load(f)

In [890]:
# Take in the engine and retriev the matching data page with Aircraft data
# Add Aircraft list from web a python list.
# Return the python list

# url_p1 = 'https://asn.flightsafety.org'
# def lookup_ac(url_p2):
#     return_list = []
#     url = f'{url_p1}{url_p2}'
#     sub_content = requests.get(url).text
#     soup2 = BeautifulSoup(sub_content,"html.parser")
#     u_list=soup2.find_all('ul')[1]
#     i = 0 
#     while i < len(u_list.select('li')):
#         (u_list.select('li')[i].text)
#         return_list.append(u_list.select('li')[i].text)
#         i += 1
#     return(return_list)

# Create Aircraft column to list aircraft for each engine.
#url_df['Aircraft'] = url_df['URL'].map(lookup_ac)

# Save df to pickle file.
#url_df.to_pickle('zippedData/url_df.pkl')

with open('zippedData/url_df.pkl', 'rb') as f:
    url_df = pickle.load(f)

In [891]:
# Create a row for each aircraft for each engine. 
# Iterate through url_df['Aircraft'] column. For each element
# in list, create a new row.

engines = []
aircraft = []
for idx, row in url_df.iterrows():
    for ac in row['Aircraft']:
        engines.append(row['Engine'])
        aircraft.append(ac)

In [892]:
# Create dictionary from lists to load into dataFrame
ac_eng_dict = {'Engine': engines, 'Aircraft': aircraft}

In [893]:
# Create dataFrame from dictionary
engines_df = pd.DataFrame.from_dict(ac_eng_dict)

In [894]:
# df.loc[len(df.index)] = ['Amy', 89, 93] 
engines_df.loc[engines_df['Aircraft'] == 'Bombardier CRJ100 / 200 / 440'] = ['General Electric CF34','Canadair RJ-100']
engines_df.loc[engines_df['Aircraft'] == 'Bombardier CRJ700'] = ['General Electric CF34','Canadair RJ-700']
engines_df.loc[engines_df['Aircraft'] == 'Bombardier CRJ900'] = ['General Electric CF34','Canadair RJ-900']
engines_df.loc[len(engines_df.index)] = ['General Electric CF34', 'Canadair RJ-200']
engines_df.loc[len(engines_df.index)] = ['General Electric CF34', 'Canadair RJ-440']
engines_df.loc[len(engines_df.index)] = ['General Electric CF34', 'Embraer ERJ-130']
engines_df.loc[len(engines_df.index)] = ['General Electric CF34', 'Embraer ERJ-135']
engines_df.loc[len(engines_df.index)] = ['General Electric CF34', 'Embraer ERJ-140']
engines_df.loc[len(engines_df.index)] = ['General Electric CF34', 'Embraer ERJ-175']
engines_df.loc[len(engines_df.index)] = ['General Electric CF34', 'Embraer ERJ-190']
engines_df.loc[len(engines_df.index)] = ['Pratt & Whitney JT8D', 'McDonnell Douglas DC-9-80']

In [895]:
engines_df['Aircraft'] = [convert_upper(x) for x in engines_df['Aircraft']]
engines_df['Aircraft'] = [remove_slash(x) for x in engines_df['Aircraft']]
engines_df['Aircraft'] = [remove_dash(x) for x in engines_df['Aircraft']]
engines_df['Aircraft'] = [remove_common(x, common_words_eng) for x in engines_df['Aircraft']]
engines_df['Aircraft'] = [remove_space(x) for x in engines_df['Aircraft']]
engines_df['Aircraft'] = [short_name(x, 4) for x in engines_df['Aircraft']]
engines_df['Aircraft'] = [convert_boeing(x) for x in engines_df['Aircraft']]
engines_df['Aircraft'] = [convert_crj(x) for x in engines_df['Aircraft']]

In [896]:
engines_df['Engine_Name'] = [convert_upper(x) for x in engines_df['Engine']]
engines_df['Engine_Name'] = [remove_slash(x) for x in engines_df['Engine_Name']]
engines_df['Engine_Name'] = [remove_dash(x) for x in engines_df['Engine_Name']]
engines_df['Engine_Name'] = [remove_common(x, common_words_emi) for x in engines_df['Engine_Name']]
engines_df['Engine_Name'] = [remove_common(x, common_words_emi) for x in engines_df['Engine_Name']]
engines_df['Engine_Name'] = [remove_space(x) for x in engines_df['Engine_Name']]
engines_df['Engine_Name'] = [short_name(x, 5) for x in engines_df['Engine_Name']]
#engines_df['Engine_Name'] = [convert_boeing(x) for x in engines_df['Engine_Name']]
#engines_df['Engine_Name'] = [convert_crj(x) for x in engines_df['Engine_Name']]

In [897]:
bts_des = pd.merge(bts_des, engines_df,left_on='Description', right_on='Aircraft', how='left')

In [898]:
bts_des.drop_duplicates(inplace=True)

## Emissions Data

In [900]:
emissions_df = pd.read_excel('zippedData/edb-emissions-databank_v30__web_.xlsx',
                             sheet_name='Gaseous Emissions and Smoke', 
                             usecols=('A:D, AJ'))

In [901]:
emissions_df['Engine Identification'] = [convert_upper(x) for x in emissions_df['Engine Identification']]
emissions_df['Engine Identification'] = [remove_slash(x) for x in emissions_df['Engine Identification']]
emissions_df['Engine Identification'] = [remove_dash(x) for x in emissions_df['Engine Identification']]
emissions_df['Engine Identification'] = [remove_common(x, common_words_emi) for x in emissions_df['Engine Identification']]
emissions_df['Engine Identification'] = [remove_space(x) for x in emissions_df['Engine Identification']]
emissions_df['Engine Identification'] = [short_name(x, 5) for x in emissions_df['Engine Identification']]

In [902]:
emissions_df.at[527,'Engine Identification'] = 'PW100'
emissions_df.at[611,'Engine Identification'] = 'PW200'
emissions_df.at[633,'Engine Identification'] = 'PW400'

In [904]:
def match_engine(str1):
    tmp_df = pd.DataFrame()
    mask = tmp_df['engine_id_starts_with_CFM'] = list( 
        map(lambda x: x.startswith(str1), emissions_df['Engine Identification'])) 
    filtered_df = emissions_df[mask]
    #return(filtered_df.at[0,1]['CO Dp/Foo Avg (g/kN)']).head(1)
    if filtered_df.shape[0] < 1:
        return(0)
    return(filtered_df.iat[0,4])

In [905]:
bts_des['CO2'] = [match_engine(x) for x in bts_des['Engine_Name']]

In [906]:
def get_best_eng(aircraft):
    ac_ser = bts_des.loc[bts_des['Aircraft'] == aircraft]
    return(ac_ser.sort_values('CO2')[:1])

In [907]:
bts_fin = [get_best_eng(x) for x in bts_des['Aircraft'].unique()]

In [908]:
tt = get_best_eng('747')

In [909]:
type(tt)

pandas.core.frame.DataFrame

## Data Processing

In [910]:
bts_df['Description'].value_counts().head(40)

Description
737      862707
A320     332678
A319     213230
CRJ20    195787
757      178044
J175     173038
CRJ70    169427
J145     153205
CRJ90    137718
767       98231
DC98      98190
A321      84054
A300      64824
J170      57466
1900      44466
J190      38706
717       37101
CASA      32440
MD11      28799
747       24752
J140      24471
MD90      21323
DHC8      16324
J130      15880
Name: count, dtype: int64

In [911]:
# Some rows have NaN for values. Replace these with 0 value. 
crash_df['Total.Fatal.Injuries'] = crash_df['Total.Fatal.Injuries'].fillna(0)
crash_df['Total.Serious.Injuries'] = crash_df['Total.Serious.Injuries'].fillna(0)
crash_df['Total.Minor.Injuries'] = crash_df['Total.Minor.Injuries'].fillna(0)

In [912]:
# Our scoring system will use 3 points for fatality; 1 point for serious injury and .5 points for minor injury.
crash_df['Injury_Score'] = crash_df['Total.Fatal.Injuries'].map(lambda x: x*3)
crash_df['Injury_Score'] = crash_df['Injury_Score'] + crash_df['Total.Serious.Injuries']
crash_df['Injury_Score'] = crash_df['Injury_Score'] + (crash_df['Total.Minor.Injuries'] * .5)

In [929]:
total_score = crash_df.groupby('NewModel')['Injury_Score'].sum().to_frame()

In [930]:
total_score['Count'] = bts_df.groupby('Description').size()

In [931]:
bts_df.groupby('Description').size()

Description
1900      44466
717       37101
737      862707
747       24752
757      178044
767       98231
A300      64824
A319     213230
A320     332678
A321      84054
CASA      32440
CRJ20    195787
CRJ70    169427
CRJ90    137718
DC98      98190
DHC8      16324
J130      15880
J140      24471
J145     153205
J170      57466
J175     173038
J190      38706
MD11      28799
MD90      21323
dtype: int64

In [932]:
total_score['Rating'] = (total_score['Injury_Score'] / total_score['Count']) * 1000

In [933]:
total_score.sort_values('Rating')

          Injury_Score   Count    Rating
NewModel
CASA               0.0   32440  0.000000
J145               0.0  153205  0.000000
CRJ70              0.0  169427  0.000000
J175               0.5  173038  0.002890
CRJ20              3.0  195787  0.015323
717                1.0   37101  0.026953
MD11               1.5   28799  0.052085
757               16.0  178044  0.089865
DC98               9.0   98190  0.091659
A300               6.0   64824  0.092558
A319              24.5  213230  0.114899
MD90               2.5   21323  0.117244
J170              15.5   57466  0.269725
DHC8               6.0   16324  0.367557
1900              29.0   44466  0.652184
767              106.5   98231  1.084179
747               40.0   24752  1.616031
J190             135.5   38706  3.500749
737             3727.0  862707  4.320123
A320            1504.5  332678  4.522391
A321             685.0   84054  8.149523

In [934]:
#pd.merge(movies, crew[["tconst", "directors", "year"]], on="tconst", how="left")
total_score = pd.merge(total_score, bts_des[['CO2', 'Aircraft', 'Engine']], left_on='NewModel', right_on='Aircraft', how='left')

In [935]:
total_score

,Injury_Score,Count,Rating,CO2,Aircraft,Engine
0,29.0,44466,0.652184,0.00,1900,Pratt & Whitney Canada PT6
1,1.0,37101,0.026953,59.85,717,Rolls-Royce BR700
2,3727.0,862707,4.320123,48.50,737,CFMI CFM56
3,3727.0,862707,4.320123,25.97,737,CFMI LEAP-1B
4,3727.0,862707,4.320123,134.70,737,Pratt & Whitney JT8D
5,40.0,24752,1.616031,34.43,747,General Electric CF6
6,40.0,24752,1.616031,32.75,747,General Electric Genx
7,40.0,24752,1.616031,139.60,747,Pratt & Whitney JT9D
8,40.0,24752,1.616031,14.20,747,Pratt & Whitney PW4000
9,40.0,24752,1.616031,205.30,747,Rolls-Royce RB211
10,16.0,178044,0.089865,32.00,757,Pratt & Whitney PW2000
11,16.0,178044,0.089865,205.30,757,Rolls-Royce RB211
12,106.5,98231,1.084179,34.43,767,General Electric CF6
13,106.5,98231,1.084179,139.60,767,Pratt & Whitney JT9D
14,106.5,98231,1.084179,14.20,767,Pratt & Whitney PW4000
15,106.5,98231,1.084179,205.30,767,Rolls-Royce RB211
16,6.0,64824,0.092558,34.43,A300,General Electric CF6
17,6.0,64824,0.092558,139.60,A300,Pratt & Whitney JT9D
18,6.0,64824,0.092558,14.20,A300,Pratt & Whitney PW4000
19,24.5,213230,0.114899,48.50,A319,CFMI CFM56
20,24.5,213230,0.114899,14.80,A319,IAE V2500
21,1504.5,332678,4.522391,48.50,A320,CFMI CFM56
22,1504.5,332678,4.522391,25.97,A320,CFMI LEAP-1B
23,1504.5,332678,4.522391,14.80,A320,IAE V2500
24,1504.5,332678,4.522391,27.80,A320,Pratt & Whitney PW1000G
25,685.0,84054,8.149523,48.50,A321,CFMI CFM56
26,685.0,84054,8.149523,25.97,A321,CFMI LEAP-1B
27,685.0,84054,8.149523,14.80,A321,IAE V2500
28,685.0,84054,8.149523,27.80,A321,Pratt & Whitney PW1000G
29,0.0,32440,0.000000,0.00,CASA,Garrett TPE331
30,0.0,32440,0.000000,0.00,CASA,General Electric CT7
31,0.0,32440,0.000000,27.80,CASA,Pratt & Whitney Canada PW100
32,3.0,195787,0.015323,91.20,CRJ20,General Electric CF34
33,0.0,169427,0.000000,91.20,CRJ70,General Electric CF34
34,9.0,98190,0.091659,134.70,DC98,Pratt & Whitney JT8D
35,6.0,16324,0.367557,27.80,DHC8,Pratt & Whitney Canada PW100
36,0.0,153205,0.000000,43.15,J145,Allison AE3007
37,0.0,153205,0.000000,43.15,J145,Rolls-Royce AE3007
38,15.5,57466,0.269725,91.20,J170,General Electric CF34
39,0.5,173038,0.002890,91.20,J175,General Electric CF34
40,135.5,38706,3.500749,91.20,J190,General Electric CF34
41,1.5,28799,0.052085,34.43,MD11,General Electric CF6
42,1.5,28799,0.052085,14.20,MD11,Pratt & Whitney PW4000
43,2.5,21323,0.117244,14.80,MD90,IAE V2500