In [244]:
from bs4 import BeautifulSoup 
import requests
import pickle 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import re

In [6]:
# In place of running this and making a web request, import the pickle file from below
# Assign URL 
#url = "https://asn.flightsafety.org/database/engines/"

# Make a GET request to fetch the raw HTML content 
#html_content = requests.get(url).text 

# Parse the response with html.parser
#soup = BeautifulSoup(html_content,"html.parser")

In [246]:
# The data we need are wrapped in <a> tags. Grab all the <a> tags here and we'll filter later.
datas = soup.find_all("a")

In [9]:
#Make list of URLs and list oF Aircraft to create dictionary
k = []
v = []
for item in datas:
    if 'engine' in item['href']:
        k.append(item['href'])
        v.append(item.text)

lookup_dict = {'URL': k, 'Engine': v}

In [10]:
url_df = pd.DataFrame.from_dict(lookup_dict)

In [11]:
with open('lookup_dict.pkl', 'wb') as f:
    pickle.dump(lookup_dict, f)

In [ ]:
#with open('zippedData/lookup_dict.pkl', 'rb') as f:
    #lookup_dict = pickle.load(f)

In [12]:
# Take in the engine and retriev the matching data page with Aircraft data
# Add Aircraft list from web a python list.
# Return the python list
url_p1 = 'https://asn.flightsafety.org'
def lookup_ac(url_p2):
    return_list = []
    url = f'{url_p1}{url_p2}'
    sub_content = requests.get(url).text
    soup2 = BeautifulSoup(sub_content,"html.parser")
    u_list=soup2.find_all('ul')[1]
    i = 0 
    while i < len(u_list.select('li')):
        (u_list.select('li')[i].text)
        return_list.append(u_list.select('li')[i].text)
        i += 1
    return(return_list)

In [13]:
# Create Aircraft column to list aircraft for each engine.
url_df['Aircraft'] = url_df['URL'].map(lookup_ac)

In [15]:
# Save df to pickle file.
url_df.to_pickle('zippedData/url_df.pkl')

In [16]:
# Create a row for each aircraft for each engine. 
# Iterate through url_df['Aircraft'] column. For each element
# in list, create a new row.

engines = []
aircraft = []
for idx, row in url_df.iterrows():
    for ac in row['Aircraft']:
        engines.append(row['Engine'])
        aircraft.append(ac)

In [17]:
# Create dictionary from lists to load into dataFrame
ac_eng_dict = {'Engine': engines, 'Aircraft': aircraft}

In [18]:
# Create dataFrame from dictionary
engines_df = pd.DataFrame.from_dict(ac_eng_dict)

In [20]:
# Clean up aircraft names
engines_df['Aircraft'].replace('-', '', inplace=True, regex=True)
engines_df['Aircraft'].replace('/', '', inplace=True, regex=True)
engines_df.drop_duplicates(inplace=True)

In [29]:
''' This function will 
1) takes in a airplane name
2) matches the cloest short name
3) returns the match
'''

def get_short_name(model):
    m_string = model.split(' ')
    if len(m_string) == 1:
        return(m_string[0])
    else:
        return(m_string[1])

In [ ]:
''' 
This function will 
1) take in a model string from bts_map_df 
2) match it with a newmodel from engines_df
3) update engines_df with new_model column
TODO: Replace with faster version.
'''
def match_types(model):
    for newmodel in engines_df['Model']:
        if model.startswith(newmodel):
            #print(f'Processing: {model} \t:{newmodel}')
            return newmodel

In [23]:
# Read data from Aircraft_Safety dataset
bts_map_df = pd.read_excel('zippedData/bts_actype.2.xlsx')

In [24]:
bts_map_df

     Unnamed: 0                             Description      Model
0             0                          Boeing 757-200        757
1         72814                           Pilatus PC-12       PC12
2         98137  Cessna Citation X Model 650/550B/550XL  CitationX
3         99813                          Boeing 737-400        737
4        120190                          Boeing 737-300        737
..          ...                                     ...        ...
182     2018715                      Boeing 747-200/300        747
183     2018731                           Cessna 180A/B        180
184     2018733              Gulfstream Aerospace G500C       G500
185     2018734    Gulfstream Aerospace Gulfstream G600       G500
186     2018742        Raytheon Beechcraft Hawker 900XP      900XP

[187 rows x 3 columns]

In [26]:
# Fill in the Model column with short names
engines_df['Model'] = [get_short_name(model) for model in engines_df['Aircraft']]

In [27]:
engines_df.columns

Index(['Engine', 'Aircraft', 'Model'], dtype='object')

In [327]:
engines_df[0:50]

,Engine,Aircraft,Model
0,Allison 250,BrittenNorman BN2 Islander,BN2
1,Allison 250,GAF Nomad,Nomad
2,Allison 501,Aero Spacelines Mini Guppy Turbine,Spacelines
3,Allison 501,Convair CV580,CV580
4,Allison 501,Lockheed C130 Hercules,C130
5,Allison 501,Lockheed L100 Hercules,L100
6,Allison 501,Lockheed L188 Electra,L188
7,Allison 501,Lockheed P3 Orion,P3
8,Allison AE2100,Lockheed C130 Hercules,C130
9,Allison AE2100,SAAB 2000,2000
10,Allison AE3007,Cessna 750 Citation X,750
11,Allison AE3007,Embraer ERJ135,ERJ135
12,Allison AE3007,Embraer ERJ140,ERJ140
13,Allison AE3007,Embraer ERJ145,ERJ145
14,Alvis Leonides,Scottish Aviation Twin Pioneer,Aviation
15,Armstrong Siddeley Jaguar,Armstrong Whitworth Argosy,Whitworth
16,Armstrong Siddeley Jaguar,Avro 642 Eighteen,642
17,BMW 132,Junkers Ju523m,Ju523m
18,BMW IX,Junkers Ju523m,Ju523m
19,BMW VI,Rohrbach Ro X Romar,Ro
20,Bristol Centaurus,Airspeed AS.57 Ambassador,AS.57
21,Bristol Centaurus,Blackburn Beverley,Beverley
22,Bristol Centaurus,BredaZappata BZ.308,BZ.308
23,Bristol Hercules,Bristol 170,170
24,Bristol Hercules,Junkers Ju523m,Ju523m
25,Bristol Hercules,Nord 2501 Noratlas,2501
26,Bristol Hercules,Vickers Valetta,Valetta
27,Bristol Hercules,Vickers Varsity,Varsity
28,Bristol Hercules,Vickers Viking,Viking
29,Bristol Jupiter,de Havilland DH.66 Hercules,Havilland
30,Bristol Jupiter,Fokker F.VIII,F.VIII
31,Bristol Pegasus,SavoiaMarchetti S.73,S.73
32,Bristol Pegasus,Short S.23 Empire,S.23
33,Bristol Pegasus,Short S.25 SandringhamSunderland,S.25
34,Bristol Perseus XIIc,Short S.23 Empire,S.23
35,Bristol Perseus XIIc,Short S.26 G Class,S.26
36,Bristol Siddeley Viper,"Hawker Siddeley HS125 Srs. 1, 2, 3, 400",Siddeley
37,CFE CFE738,Dassault Falcon 2000,Falcon
38,CFMI CFM56,Airbus A319,A319
39,CFMI CFM56,Airbus A320,A320
40,CFMI CFM56,Airbus A321,A321
41,CFMI CFM56,Airbus A340,A340
42,CFMI CFM56,Boeing 707,707
43,CFMI CFM56,Boeing 737300,737300
44,CFMI CFM56,Boeing 737400,737400
45,CFMI CFM56,Boeing 737500,737500
46,CFMI CFM56,Boeing 737600,737600
47,CFMI CFM56,Boeing 737700,737700
48,CFMI CFM56,Boeing 737800,737800
49,CFMI CFM56,Boeing 737900,737900

In [30]:
# Save df to pickle file.
#engines_df.to_pickle('zippedData/engines_df.pkl')

In [297]:
wiki_lis = pd.read_html('zippedData/Wiki.html')

In [298]:
com_df = wiki_lis[1]
reg_df = wiki_lis[2]
srt_df = wiki_lis[3]
med_df = wiki_lis[4]
lng_df = wiki_lis[5]

In [299]:
srt_df.rename(columns={'Fuel Burn': 'Fuel burn'}, inplace=True)
srt_df.rename(columns={'Fuel efficiency per seat': 'Fuel per seat'}, inplace=True)

In [300]:
reg_df.rename(columns={'Fuel efficiency per seat': 'Fuel per seat'}, inplace=True)

In [301]:
reg_df.columns

Index(['Model', 'First flight', 'Seats', 'Sector', 'Fuel burn',
       'Fuel per seat'],
      dtype='object')

In [302]:
wiki_lis[1]['Fuel burn']

0      4.23Â kg/km (15.0Â lb/mi)
1      4.34Â kg/km (15.4Â lb/mi)
2       1.26Â kg/km (4.5Â lb/mi)
3       1.67Â kg/km (5.9Â lb/mi)
4       1.42Â kg/km (5.0Â lb/mi)
5       1.56Â kg/km (5.5Â lb/mi)
6      1.00Â kg/km (3.56Â lb/mi)
7      2.21Â kg/km (7.83Â lb/mi)
8      2.18Â kg/km (7.73Â lb/mi)
9     2.95Â kg/km (10.47Â lb/mi)
10    3.47Â kg/km (12.31Â lb/mi)
11      2.16Â kg/km (7.7Â lb/mi)
12      0.94Â kg/km (3.3Â lb/mi)
13      1.22Â kg/km (4.3Â lb/mi)
14      0.92Â kg/km (3.3Â lb/mi)
15     1.64Â kg/km (5.83Â lb/mi)
16     1.76Â kg/km (6.23Â lb/mi)
17       1.1Â kg/km (3.9Â lb/mi)
18      1.75Â kg/km (6.2Â lb/mi)
Name: Fuel burn, dtype: object

In [303]:
def clean_fuel_seat(str):
    #print(str)
    r = re.search('([0-9]+.[0-9]+)\\xa0L', str)
    rg = r.group(1)
    return float(rg)

In [304]:
def clean_fuel_burn(str):
    #print(str)
    #r = re.search('(([0-9].[0-9]+)|([0-9]+))\\xa0kg', str)
    r = re.search('^(.*?)\\xa0kg', str)
    rg = (r.group(1))
    #print(rg)
    return float(rg)

In [305]:
clean_fuel_burn(reg_df['Fuel burn'][8])

2.89

In [306]:
clean_fuel_burn(med_df['Fuel burn'][6])

6.81

In [317]:
lng_df['Fuel burn'] = lng_df['Fuel burn'].apply(clean_fuel_burn)

In [318]:
lng_df['Fuel per seat'] = lng_df['Fuel per seat'].apply(clean_fuel_seat)

In [307]:
com_df['Fuel burn'] = com_df['Fuel burn'].apply(clean_fuel_burn)

In [319]:
lng_df

,Model,First flight,Seats,Sector,Fuel burn,Fuel per seat
0,Airbus A330-200,1997,241,"6,000Â nmi (11,000Â km)",6.40,3.32
1,Airbus A330-200,1997,248,"5,549Â nmi (10,277Â km)",6.55,3.30
2,Airbus A330-300,1992,274,"5,548Â nmi (10,275Â km)",6.81,3.11
3,Airbus A330-800,2017,248,"4,650Â nmi (8,610Â km)",5.45,2.75
4,Airbus A330-900,2017,300,"4,650Â nmi (8,610Â km)",5.94,2.48
5,Airbus A340-300,1992,262,"6,000Â nmi (11,000Â km)",7.32,3.49
6,Airbus A350-900,2013,315,"4,972Â nmi (9,208Â km)",6.03,2.39
7,Airbus A350-900,2013,318,"5,534Â nmi (10,249Â km)",6.52,2.56
8,Airbus A350-900,2013,315,"6,542Â nmi (12,116Â km)",7.07,2.81
9,Airbus A350-1000,2016,327,"5,531Â nmi (10,243Â km)",7.46,2.85
10,Airbus A350-1000,2016,367,"5,531Â nmi (10,243Â km)",7.58,2.58
11,Airbus A380,2005,525,"7,200Â nmi (13,300Â km)",13.78,3.27
12,Airbus A380,2005,544,"6,000Â nmi (11,000Â km)",13.78,3.16
13,Boeing 747-400,1988,416,"6,000Â nmi (11,000Â km)",11.11,3.34
14,Boeing 747-400,1988,393,"5,503Â nmi (10,192Â km)",11.82,3.76
15,Boeing 747-400,1988,487,"5,479Â nmi (10,147Â km)",12.31,3.16
16,Boeing 747-8,2011,467,"6,000Â nmi (11,000Â km)",10.54,2.82
17,Boeing 747-8,2011,405,"7,200Â nmi (13,300Â km)",10.90,3.35
18,Boeing 777-200ER,1996,304,"5,535Â nmi (10,251Â km)",7.57,3.11
19,Boeing 777-200ER,1996,301,"6,000Â nmi (11,000Â km)",7.42,3.08
20,Boeing 777-200ER,1996,301,"6,000Â nmi (11,000Â km)",7.44,3.09
21,Boeing 777-200LR,2005,291,"4,972Â nmi (9,208Â km)",7.57,3.25
22,Boeing 777-300ER,2003,382,"5,507Â nmi (10,199Â km)",8.86,2.90
23,Boeing 777-300ER,2003,365,"6,000Â nmi (11,000Â km)",8.49,2.91
24,Boeing 777-300ER,2003,344,"7,200Â nmi (13,300Â km)",8.58,3.11
25,Boeing 777-9X,2020,395,"7,200Â nmi (13,300Â km)",7.69,2.42
26,Boeing 787-8,2011,243,"4,650Â nmi (8,610Â km)",5.38,2.77
27,Boeing 787-8 GEnx,2011,220,"5,537Â nmi (10,255Â km)",5.30,3.01
28,Boeing 787-8 Trent,2011,220,"5,537Â nmi (10,255Â km)",5.51,3.13
29,Boeing 787-9 GEnx,2013,294,"4,650Â nmi (8,610Â km)",5.85,2.49
30,Boeing 787-9,2013,304,"4,972Â nmi (9,208Â km)",5.63,2.31
31,Boeing 787-9 GEnx,2013,266,"5,534Â nmi (10,249Â km)",5.62,2.64
32,Boeing 787-9,2013,291,"6,542Â nmi (12,116Â km)",7.18,3.08
33,Boeing 787-10 GEnx,2017,337,"5,529Â nmi (10,240Â km)",6.12,2.27
34,Boeing 787-10 Trent,2017,337,"5,529Â nmi (10,240Â km)",6.24,2.31

In [308]:
com_df['Fuel per seat'] = com_df['Fuel per seat'].apply(clean_fuel_seat)

In [309]:
reg_df['Fuel burn'] = reg_df['Fuel burn'].apply(clean_fuel_burn)

In [310]:
reg_df['Fuel per seat'] = reg_df['Fuel per seat'].apply(clean_fuel_seat)

In [311]:
srt_df['Fuel burn'] = srt_df['Fuel burn'].apply(clean_fuel_burn)

In [312]:
srt_df['Fuel per seat'] = srt_df['Fuel per seat'].apply(clean_fuel_seat)

In [314]:
med_df['Fuel burn'] = med_df['Fuel burn'].apply(clean_fuel_burn)

In [315]:
med_df['Fuel per seat'] = med_df['Fuel per seat'].apply(clean_fuel_seat)

In [274]:
lng_df

,Model,First flight,Seats,Sector,Fuel burn,Fuel per seat
0,Airbus A330-200,1997,241,"6,000Â nmi (11,000Â km)",6.40,3.32Â L/100Â km (71Â mpgâ€‘US)[98]
1,Airbus A330-200,1997,248,"5,549Â nmi (10,277Â km)",6.55,3.3Â L/100Â km (71Â mpgâ€‘US)[107]
2,Airbus A330-300,1992,274,"5,548Â nmi (10,275Â km)",6.81,3.11Â L/100Â km (76Â mpgâ€‘US)[107]
3,Airbus A330-800,2017,248,"4,650Â nmi (8,610Â km)",5.45,2.75Â L/100Â km (86Â mpgâ€‘US)[108]
4,Airbus A330-900,2017,300,"4,650Â nmi (8,610Â km)",5.94,2.48Â L/100Â km (95Â mpgâ€‘US)[108]
5,Airbus A340-300,1992,262,"6,000Â nmi (11,000Â km)",7.32,3.49Â L/100Â km (67.4Â mpgâ€‘US)[98]
6,Airbus A350-900,2013,315,"4,972Â nmi (9,208Â km)",6.03,2.39Â L/100Â km (98Â mpgâ€‘US)[99]
7,Airbus A350-900,2013,318,"5,534Â nmi (10,249Â km)",6.52,2.56Â L/100Â km (92Â mpgâ€‘US)[107]
8,Airbus A350-900,2013,315,"6,542Â nmi (12,116Â km)",7.07,2.81Â L/100Â km (84Â mpgâ€‘US)[109]
9,Airbus A350-1000,2016,327,"5,531Â nmi (10,243Â km)",7.46,2.85Â L/100Â km (83Â mpgâ€‘US)[107]
10,Airbus A350-1000,2016,367,"5,531Â nmi (10,243Â km)",7.58,2.58Â L/100Â km (91Â mpgâ€‘US)[107]
11,Airbus A380,2005,525,"7,200Â nmi (13,300Â km)",13.78,3.27Â L/100Â km (72Â mpgâ€‘US)[110]
12,Airbus A380,2005,544,"6,000Â nmi (11,000Â km)",13.78,3.16Â L/100Â km (74Â mpgâ€‘US)[111]
13,Boeing 747-400,1988,416,"6,000Â nmi (11,000Â km)",11.11,3.34Â L/100Â km (70Â mpgâ€‘US)[112]
14,Boeing 747-400,1988,393,"5,503Â nmi (10,192Â km)",11.82,3.76Â L/100Â km (62.6Â mpgâ€‘US)[107]
15,Boeing 747-400,1988,487,"5,479Â nmi (10,147Â km)",12.31,3.16Â L/100Â km (74Â mpgâ€‘US)[107]
16,Boeing 747-8,2011,467,"6,000Â nmi (11,000Â km)",10.54,2.82Â L/100Â km (83Â mpgâ€‘US)[102]
17,Boeing 747-8,2011,405,"7,200Â nmi (13,300Â km)",10.90,3.35Â L/100Â km (70Â mpgâ€‘US)[110]
18,Boeing 777-200ER,1996,304,"5,535Â nmi (10,251Â km)",7.57,3.11Â L/100Â km (76Â mpgâ€‘US)[107]
19,Boeing 777-200ER,1996,301,"6,000Â nmi (11,000Â km)",7.42,3.08Â L/100Â km (76Â mpgâ€‘US)[98]
20,Boeing 777-200ER,1996,301,"6,000Â nmi (11,000Â km)",7.44,3.09Â L/100Â km (76Â mpgâ€‘US)[104]
21,Boeing 777-200LR,2005,291,"4,972Â nmi (9,208Â km)",7.57,3.25Â L/100Â km (72Â mpgâ€‘US)[99]
22,Boeing 777-300ER,2003,382,"5,507Â nmi (10,199Â km)",8.86,2.9Â L/100Â km (81Â mpgâ€‘US)[107]
23,Boeing 777-300ER,2003,365,"6,000Â nmi (11,000Â km)",8.49,2.91Â L/100Â km (81Â mpgâ€‘US)[104]
24,Boeing 777-300ER,2003,344,"7,200Â nmi (13,300Â km)",8.58,3.11Â L/100Â km (76Â mpgâ€‘US)[110]
25,Boeing 777-9X,2020,395,"7,200Â nmi (13,300Â km)",7.69,2.42Â L/100Â km (97Â mpgâ€‘US)[110]
26,Boeing 787-8,2011,243,"4,650Â nmi (8,610Â km)",5.38,2.77Â L/100Â km (85Â mpgâ€‘US)[108]
27,Boeing 787-8 GEnx,2011,220,"5,537Â nmi (10,255Â km)",5.30,3.01Â L/100Â km (78Â mpgâ€‘US)[107]
28,Boeing 787-8 Trent,2011,220,"5,537Â nmi (10,255Â km)",5.51,3.13Â L/100Â km (75Â mpgâ€‘US)[107]
29,Boeing 787-9 GEnx,2013,294,"4,650Â nmi (8,610Â km)",5.85,2.49Â L/100Â km (94Â mpgâ€‘US)[108]
30,Boeing 787-9,2013,304,"4,972Â nmi (9,208Â km)",5.63,2.31Â L/100Â km (102Â mpgâ€‘US)[99]
31,Boeing 787-9 GEnx,2013,266,"5,534Â nmi (10,249Â km)",5.62,2.64Â L/100Â km (89Â mpgâ€‘US)[107]
32,Boeing 787-9,2013,291,"6,542Â nmi (12,116Â km)",7.18,3.08Â L/100Â km (76Â mpgâ€‘US)[109]
33,Boeing 787-10 GEnx,2017,337,"5,529Â nmi (10,240Â km)",6.12,2.27Â L/100Â km (104Â mpgâ€‘US)[107]
34,Boeing 787-10 Trent,2017,337,"5,529Â nmi (10,240Â km)",6.24,2.31Â L/100Â km (102Â mpgâ€‘US)[107]